.UploaderActivitieFileComponent-wrapper {
  max-width: 35rem;
  .form-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .form-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 42rem;
  }
  .part-add {
    // margin: 0rem 0.1rem 0.4rem 0.1rem;
    .MuiFab-sizeSmall {
      width: 28px;
      height: 28px;
    }

    .MuiFab-root {
      min-height: 21px;
    }
  }
  .part-1 {
    min-width: 150px;
  }
  .part-2 {
    margin: 0rem 0rem 0.4rem 0rem;
  }
  .Uploader {
    max-width: 40rem;
  }
}
