.properties-specification-wrapper {
  .tab-item-wrapper {
    .form-item {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .more-than-five-wrapper {
      margin-bottom: -0.5rem;
    }
  }
}
