.UserPages {
  .MuiTabs-flexContainer {
    background-color: $c-primary !important;
  }
  .PrivateTabIndicator-colorPrimary-2 {
    height: 3px !important;
    background-color: $c-white !important;
  }
}
